**Outliers Detection and Remove**

In [1]:
import pandas as pd
import numpy as np

In [19]:
df = pd.read_csv('./sample_data/outlier_dataset.csv')

df

    ID  Age  Salary
0    1   56   32433
1    2   46   35311
2    3   32   35051
3    4   25   36420
4    5   38   47568
5    6   56   50939
6    7   36   49769
7    8   40   58693
8    9   28   36396
9   10   28   59419
10  11   41   57480
11  12   53   38666
12  13   57   55658
13  14   41   48942
14  15   20   54233
15  16   39   48431
16  17   19   32747
17  18   41   55551
18  19   47  150000
19  20   55  200000

In [ ]:
def iqr_bounds(data,column):
    Q1 = data[column].quantile(0.25)
    Q3 = data[column].quantile(0.75)
    IQR = Q3-Q1
    lower = Q1-1.5*IQR
    upper = Q3+1.5*IQR
    return lower,upper 

def remove_outliers(data,column):
    lower,upper = iqr_bounds(data,column)
    filt = (data[column]>=lower) & (data[column]<=upper)
    return data.loc[filt]

# def remove_outliers(data,column):
#     lower,upper = iqr_bounds(data,column)
#     filt = (data[column]>=lower) & (data[column]<=upper)
#     return data.loc[filt]

In [ ]:
def iqr_bounds(data,column):
    Q1 = data[column].quantile(0.25)
    Q3 = data[column].quantile(0.75)
    IQR = Q3-Q1
    lower = Q1-1.5*IQR
    upper = Q3+1.5*IQR
    return lower,upper 

def remove_outliers(data,column):
    # print(f"Data : {data},Column : {column}")
    lower,upper = iqr_bounds(data,column)
    filt = (data[column]>=lower) & (data[column]<=upper)
    return data.loc[filt]

df_cleaned = (
    df.pipe(remove_outliers,column="Salary").pipe(remove_outliers,column="Age")
)

# df
# df_cleaned


df_cleaned.to_csv('./sample_data/cleaned_outlier_dataset.csv',index=False)

Data :     ID  Age  Salary
0    1   56   32433
1    2   46   35311
2    3   32   35051
3    4   25   36420
4    5   38   47568
5    6   56   50939
6    7   36   49769
7    8   40   58693
8    9   28   36396
9   10   28   59419
10  11   41   57480
11  12   53   38666
12  13   57   55658
13  14   41   48942
14  15   20   54233
15  16   39   48431
16  17   19   32747
17  18   41   55551
18  19   47  150000
19  20   55  200000,Column : Salary
Data :     ID  Age  Salary
0    1   56   32433
1    2   46   35311
2    3   32   35051
3    4   25   36420
4    5   38   47568
5    6   56   50939
6    7   36   49769
7    8   40   58693
8    9   28   36396
9   10   28   59419
10  11   41   57480
11  12   53   38666
12  13   57   55658
13  14   41   48942
14  15   20   54233
15  16   39   48431
16  17   19   32747
17  18   41   55551,Column : Age